body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
  overflow: hidden;
}

.grid-canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid #444;
}

.buttons {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background: #0078ff;
  border: none;
  padding: 12px 18px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0363d1;
}
